@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
html * {
    font-family: 'Space Mono';
    font-weight: 700;
}
.container {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #C5E4E7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}
.logo {
    width: 86.66px;
    height: 53.14px; 
}
.logo img{
    width: 100%;
}
.calculator {
    width: 920px;
    height: 481px;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.receive-info {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bill, #people{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #F3F9FA;
    text-align: right;
    outline: none;
    font-size: 24px;
    color: rgba(0,71,75,0.35);
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  appearance: none; 
 
}
.hide-label, .hide-label-custom, .hide-label-people {
    color:#E17457;
    font-size: 16px;
    display: none;
}
.labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bill-box, .people-box {
    width: 100%;
    height: 48px;
    background-color: #F3F9FA;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bill-box:hover, .people-box:hover {
    border: 2px solid #26C2AE;
}
.bill-box img {
    width: 9px;
    height: 15px;
    margin-left: 15px;
}
.people-box img{
    margin-left: 15px;
}
label{
    font-size: 16px;
    color: #5E7A7D;
}
.tip-box button {
    width: 117px;
    height: 48px;
    border-radius: 5px;
    background-color: #00474B;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    border: none;
}
.tip-box button:hover {
    background-color: #9FE8DF;
    color: #00474B;
}
.tip-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 14px;
}
#custom {
    width: 117px;
    height: 48px;
    background-color:#F3F9FA;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: right;
    font-size: 24px;
    color: #547878;
}
#custom:hover {
    border: 2px solid #26C2AE;
}
.result-info {
    width: 48%;
    background-color: #00474B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.result-info button{
    width: 333px;
    height: 48px;
    background-color: rgba(13,104,109,0.35);
    font-size: 20px;
    color: #00474B;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    
}
.result-info button:hover{
    background-color: #9FE8DF;
}
.tip-amount, .total{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.tip-amount > div, .total > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tip-amount h6, .total h6{
    font-size: 16px;
    color: #fff;
}
.tip-amount p, .total p{
    font-size: 13px;
    color: #7F9D9F;
    
}
.tip-amount h2, .total h2{
    font-size: 48px;
    color: #26C2AE;
    letter-spacing: -1px;
}